<nav class="navbar">
    <div class="logo">
      <a routerLink="/">
        <img src="/Logo.png" alt="Pet Adoption Logo" class="logo-image" />
      </a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/shelter">Shelters</a></li>
      <li><a routerLink="/adopter">Adopters</a></li>
      <li><a routerLink="/admin/dashboard">Admin</a></li>
      <li><a routerLink="/signup">Signup</a></li>
      <li><a routerLink="/login">Login</a></li>
    </ul>
  </nav>