<mat-paginator (page)="pageChange($event)" [length]="pets().length" [pageSize]="4" [showFirstLastButtons]="true"
    [hidePageSize]="true" aria-label="Select page" />
<div class="pet-filters">
    <button class="filter-btn" [class.active]="selectedType === 'all'" (click)="filterPets('all')">All Pets</button>
    <button class="filter-btn" [class.active]="selectedType === 'Dog'" (click)="filterPets('Dog')">Dog</button>
    <button class="filter-btn" [class.active]="selectedType === 'Cat'" (click)="filterPets('Cat')">Cat</button>
    <button class="filter-btn" [class.active]="selectedType === 'Bird'" (click)="filterPets('Bird')">Bird</button>
    <button class="filter-btn" [class.active]="selectedType === 'others'" (click)="filterPets('others')">Others</button>
    <button class="filter-btn" [class.active]="selectedType === 'Requested'" (click)="filterPets('Requested')">Requested</button>
</div>
<div>
    <div class="featured-pets">
        <div class="card-container">
            @for (pet of posts(); track pet.ID) {
            <div class="card">
                <img [src]="pet.imgName" [alt]="pet.category" />
                <p class="request-badge">{{getRequestCount(pet.ID)}} requests</p> 
                <p>Category: {{ pet.category }}</p>
                <p>Species:{{pet.species}}</p>
                <p>Age: {{ pet.age }}</p>
                <p>location: {{ pet.location }}</p>
                @if(userType==null || userType==""){
                <button routerLink="/login">Login To Adopt</button>
                } @else if(userType=="adopter"){
                @if(pet.status=="WaitingForAdoption" ){
                    @if(pet.wasReturned==true){
                        <div class="flag">
                            <p>Returned previously</p>
                        </div>
                        }@else{
                        <div class="flag2">
                            <p>Be The First To Request</p>
                        </div>
                        }
                <button (click)="Request(pet.ID)">Request Adoption</button>
                }@else if(pet.status=="Adopted"){
                <div class="flag">
                    <p>Adopted</p>
                </div>
                }@else if(pet.status=="WaitingForAVisit"){
                    @if(isRequested(pet.ID)){
                        <div class="flag2">
                            <p>Waiting For your Visit</p>
                        </div>
                        <button (click)="cancelRequest(pet.ID)">Cancel Request</button>
                    }@else{
                <div class="flag2">
                    <p>Waiting For A Visit</p>
                </div>
                <button (click)="Request(pet.ID)">Request Adoption</button>
            }
                }
                @else if(pet.status=="Returned"){
                <div class="flag">
                    <p>Returned By Adopter</p>
                </div>
                <button (click)="Request(pet.ID)">Request Adoption</button>
                } 
                }
                @if(!isInWishlist(pet.ID)){
                    <button id="bookmark-btn" [class.active]="isInWishlist(pet.ID)" (click)="save(pet.ID)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path d="M17 3H7c-1.1 0-2 .9-2 2v16l7-3 7 3V5c0-1.1-.9-2-2-2z"/>
                        </svg>
                    </button>
                }@else{
                    <button id="bookmark-btn" [class.active]="isInWishlist(pet.ID)" (click)="unSave(pet.ID)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path d="M17 3H7c-1.1 0-2 .9-2 2v16l7-3 7 3V5c0-1.1-.9-2-2-2z"/>
                        </svg>
                    </button>
                }
            </div>
            }
            @empty {
            <p>No pets found matching your search.</p>
            }
        </div>
    </div>