<div class = "dashboard">
    <div class="dashStart">
        <img src ="\adminDash.jpg" alt="welcome"/>
         <div class="text">
            <h1 class="te">Welcome </h1>
            <p class="pte">Enjoy managing the pets freely </p>
         </div>
    </div>
</div>
<div class="metrics-container">
    <div class="metric-card">
        <i class="fa-solid fa-paw metric-icon"></i>
        <div class="metric-number">120</div>
        <div class="metric-label">Total Adoptions</div>
    </div>

    <div class="metric-card">
        <i class="fa-solid fa-user metric-icon"></i>
        <div class="metric-number">45</div>
        <div class="metric-label">New Adopters</div>
    </div>

    <div class="metric-card">
        <i class="fa-solid fa-house metric-icon"></i>
        <div class="metric-number">10</div>
        <div class="metric-label">Shelters</div>
    </div>
</div>
<div class ="featured">
    <div class ="dashboard-card">
         <div class="cards">
            <h1>Shelters</h1>
            <img src="\ShelterCardAdmin.jpg"/>
            <button class ="manageSh" (click)="goToShelters()">Manage Shelters</button>
            </div>
            <div class="cards">
                <h1>Adopters</h1>
                <img src="\adoptersCardAdmin2.jpg"/>
                <button class ="manageAd" (click)="goToAdopters()">Manage Adopters</button>
            </div>
            <div class="cards">
                <h1>Pets</h1>
                <img src="\petsCardAdmin.jpg"/>
                <button class = "managePe" (click)="goToPets()">Manage pets</button>
            </div>
    </div>
</div>

