<div class="dashboard">
    <div class="hero-banner">
        <img src="\Adopter-dash.jpg" alt="Find Your Pet" />
        <div class="hero-text">
            <h1>Welcome John!</h1>
            <p>Discover your new best friend today...</p>
        </div>
    </div>
</div>
<h1>Search for your friend Now!</h1>
<div class="search-bar">
    <input type="text" placeholder="Search by Category, Species or Location"  [value]="searchInput()" 
    (input)="searchInput.set($any($event.target).value)"/>
    <button (click)="search()">Search</button>
</div>
<style>
    .phot {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card p img.icon {
        margin-left: 2vh;
    }

    .icon {
        width: 10vh;
        height: 10vh;
    }
</style>
<div class="pet-list">
    <h2>Available Species</h2>
    @if (totalAvailableAnimals() > 0){
    <div class="total-count">
        <h3>Total animals available for adoption: {{ totalAvailableAnimals() }}</h3>
    </div>
    }
    <div class="card-container">

        @for (item of allCategoryData(); track item.name) {
        <div class="card">
            <h3>{{ item.name }}</h3>
            <p>{{ getCategoryDescription(item.name) }}</p>
            <p class="phot">
                <img class="icon" [src]="getCategoryIcon(item.name)" alt="icon" />
                Available: {{ item.count }}
            </p>
        </div>
        }
        @empty {
        <div class="no-animals">
            <img src="/assets/images/no-pets.svg" alt="No pets available" />
            <p>Currently no animals available for adoption</p>
        </div>
        }
    </div>
    <!-- Featured Pets -->
    <div class="featured-pets">
        <h2>Featured Pets</h2>
        <div class="card-container">

            @if (featuredPets().length === 0) {
            <p>No featured pets available at the moment.</p>
            } @else {
            @for (pet of featuredPets(); track $index) {
            <div class="card">
                <img [src]="pet.imgName" [alt]="pet.category" />
                <p>Category: {{ pet.category }}</p>
                <p>Species:{{pet.species}}</p>
                <p>Age: {{ pet.age }}</p>
                <p>location: {{ pet.location }}</p>
                <button>Contact Shelter</button>
                <button (click)="Request(pet.ID)">Request Adoption</button>
            </div>
            }
            }
        </div>
    </div>
</div>